.git*
CODEOWNER
docker-compose.yaml
node_modules/
dist/
database/
test/
scripts/
*.log
*.pid
*.lock
*.sqlite
*.db
*.sqlite3
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.woff
*.woff2
*.eot
*.ttf
*.otf
*.wav
*.mp3
*.mp4
*.avi
*.mov
*.flv
*.wmv
*.webm
*.zip
*.rar
*.tar.gz
*.7z
